OWNER_NAME="Venocyber Admin"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "VENOCYBER-X"
IMAGE_MENU= "https://telegra.ph/file/9573213e9c5d2fb54069f.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Venocyber Admin᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
